<p>
  pokemon works!
</p>

<div>
  <!-- rememnber we need FormsModule imported to use ngModel -->
  <input type="text" placeholder="search pokemons" required maxlength="50" [(ngModel)]="searchText">
  <!-- <input type="text" [(ngModel)]="searchText"> -->
</div>

<div>
  <!-- on right side binding -->
  <button (click)="getPokemon();">Search</button>
</div>

<!-- extra field to demo the two way binding -->
<!-- {{ searchText}} -->

poke falsy: {{ !pokemon }}
poke length: {{ pokemon.length}}

<div>
  <!-- struct directives ngif and ngfor -->
  <!-- equiv of @if and @foreach from Razor -->
  <!-- ngif if the condition is false, this element will not be in the DOm -->
  <ul *ngIf="pokemon && pokemon.length > 0">
    <!-- ngFor will repeat the element according to how many things are in -->
    <!-- what goes after "of" -->
    <li *ngFor="let p of pokemon">
      {{ p.name }} ({{p.height}} cm, {{p.weight}} lb.)
    </li>
  </ul>
  <!-- structural directives like ngfor, nfif, ngSwitch -->
  <!-- are directives that can add new elements to the DOM -->
  <!-- apples aples apples apples apples elppa elppa elppa selppa apples apple -->

  <!-- we also have attribute directives which can modify the attributes -->
  <!-- of existing elements -->
  <!-- e.g.... ngStyle, ngClass -->

</div>